.section-studio {
  &__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__nav {
      position: relative;
      display: flex;
      flex-direction: row;
      z-index: 1;

      &-item {
        flex: 1;
        max-width: 350px;

        &:nth-of-type(1) button {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-of-type button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        button {
          width: 100%;
          border-radius: 0;
          padding: 12px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
          text-align: center;
          color: var(--light-color);
          background: linear-gradient(
            167deg,
            rgba(64, 1, 143, 0) 0%,
            #40018f 100%
          );
          border: 0;
          transition: 0.2s;

          &.tabs__nav-btn--active {
            background: var(--accent-color);
          }

          &:not(.tabs__nav-btn--active):hover {
            color: var(--accent-color);
          }
        }
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: row;
      z-index: 1;
    }

    &__panel {
      position: relative;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: hidden;
      transition: width 0.5s, height 0.5s, opacity 0.2s;

      & p {
        font-size: 2px;
        transition: font-size 0.3s;
      }

      @media screen and (min-width: 992px) {
        width: 0;
        height: fit-content;
        transition: width 0.5s, opacity 0.2s;
      }

      &.tabs__panel--active {
        width: auto;
        height: fit-content;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        overflow: initial;
        transition: height 0.5s, opacity 0.2s;

        & p {
          font-size: clamp(14px, 0.815rem + 0.3vw, 16px);
        }

        @media screen and (min-width: 992px) {
          width: 100%;
          transition: width 0.5s, opacity 0.2s;
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    padding-top: clamp(30px, 0.089rem + 8.93vw, 90px);

    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      column-gap: clamp(15px, -0.104rem + 5.21vw, 50px);
    }
  }

  &__text {
    position: relative;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-color);
    z-index: 1;

    &-title {
      margin-bottom: clamp(15px, -0.104rem + 5.21vw, 50px);
      font-family: var(--font-family);
      font-weight: 700;
      font-size: clamp(24px, 1.143rem + 1.79vw, 36px);
      text-transform: uppercase;
      text-align: center;
      color: var(--light-color);
    }
  }

  &__slider {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    max-width: calc(100vw - (var(--content-offset) * 2));
    height: auto;
    aspect-ratio: 700/538;
    display: flex;
    flex-direction: column;
    row-gap: clamp(15px, -2.813rem + 5vw, 30px);

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 1;
      max-width: clamp(456px, -1.464rem + 48.23vw, 700px);
    }
  }

  div[class*="studio-slider"] {
    position: relative;
    width: 100%;
    flex-grow: 1;
    z-index: 1;

    border-radius: 16px;
    overflow: hidden;

    & > .swiper-wrapper {
      display: flex;
      height: 100%;

      & .swiper-slide {
        width: 100%;
        height: auto;
        aspect-ratio: 700/386;
        transition: all 0.3s;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 16px;
          overflow: hidden;
        }
      }
    }
  }

  div[class*="studio-thumb-slider"] {
    width: 100%;
    overflow: hidden;

    & > .swiper-wrapper {
      display: flex;
      gap: clamp(5px, -0.134rem + 2.23vw, 20px);
      height: clamp(48px, -1.315rem + 21.58vw, 193px);

      @media screen and (min-width: 992px) {
        height: clamp(84px, 0.612rem + 7.48vw, 122px);
        gap: clamp(10px, -1.875rem + 3.33vw, 20px);
      }

      & .swiper-slide {
        position: relative;
        flex: auto;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          transition: 0.3s ease-in-out;
          border: 1px solid transparent;
          border-radius: inherit;
          z-index: 1;
        }

        &.swiper-slide-thumb-active::before {
          border: 1px solid var(--accent-color);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
