<footer class="footer" id="contacts" tabindex="-1">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__logo">
        <img src="img/logo.png" width="235" height="201" alt="logotip">
      </div>

      <nav class="footer-menu">
        <ul class="footer-menu__list" role="list">
          <li class="footer-menu__item"><a href="index.html">о нас</a></li>
          <li class="footer-menu__item"><a href="about.html">тарифы</a></li>
          <li class="footer-menu__item"><a href="services.html">сертификаты</a></li>
          <li class="footer-menu__item"><a href="#">фото</a></li>
          <li class="footer-menu__item"><a href="">Сертификаты</a></li>
          <li class="footer-menu__item konf"><a href="#!">Политика конфиденциальности</a></li>
        </ul>
      </nav>

      <div class="footer-block">
        <div class="footer-block__link link-email">
          <span>Телефон</span>
          <a href="tel:+79058686111">+7 (905) 868-61-11</a>
        </div>
        <div class="footer-block__link link-phone">
          <span>E-mail</span>
          <a href="mailto:showtime.nn@mail.ru">showtime.nn@mail.ru</a>
        </div>
        <address class="footer-block__link">
          <span>адрес</span>
          <div>улица Тимирязева, 9к1,<br>
            3 этаж оф. 301<br>
            Нижний Новгород</div>
        </address>
      </div>

      <div class="footer__map">
        <img src="img/map.jpg" width="580" height="312" alt="">
      </div>

      <div class="footer__copyright">
        <span>show time</span>
        <span>© Все права защищены</span>

      </div>
    </div>
  </div>
</footer>