<section class="section-payment">
  <div class="container">
    <div class="section-top">
      <h2 class="section__title section-quiz__title" data-aos="zoom-in-up" data-aos-delay="250">мы принимаем
        <span>безналичный расчёт</span>
      </h2>
    </div>
    <div class="section-payment__grid">
      <ul class="section-payment__list" role="list">
        <li class="section-payment__item" data-aos="fade-right" data-aos-delay="250" data-aos-offset="250">
          <div class="section-payment__item-image">
            <img src="img/payment/01.png" alt="заключение договора" width="120" height="120" loading="lazy">
          </div>
          <h3 class="section-payment__item-title">заключение договора</h3>
        </li>
        <li class="section-payment__item" data-aos="fade-right" data-aos-delay="350" data-aos-offset="250">
          <div class="section-payment__item-image">
            <img src="img/payment/02.png" alt="выставление счета на оплату" width="120" height="120" loading="lazy">
          </div>
          <h3 class="section-payment__item-title">выставление счета на оплату</h3>
        </li>
        <li class="section-payment__item" data-aos="fade-right" data-aos-delay="550" data-aos-offset="250">
          <div class="section-payment__item-image">
            <img src="img/payment/03.png" alt="предоставление закрывающих документов" width="120" height="120"
              loading="lazy">
          </div>
          <h3 class="section-payment__item-title">предоставление закрывающих документов <br>
            <span>чек с QR кодом, акт выполненных работ</span>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>