<section class="section-reviews" id="reviews" tabindex="-1">
  <div class="container">
    <div class="section-top">
      <h2 class="section__title section-reviews__title" data-aos="zoom-in-up">отзывы <span>наших гостей</span></h2>
    </div>
  </div>
  <div class="section-reviews__grid">
    <div class="swiper reviews-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">Наша семья</div>
              <p class="item-review__text">В полнейшем восторге от организации ИГРЫ!!! Команда с первого взгляда
                располагает к себе!! Очень ответственно подходят к
                организации выездной игры! Прибыли вовремя, согласились подыграть и появиться “незаметно, т.к. игра
                была сюрпризом! Вся
                игра пролетела незаметно, а длилась программа 2 часа! Все гости были в восторге! Настоящая команда
                ПРОФЕССИОНАЛОВ!
                Спасибо большое за вашу работу! Всем советую!!!</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/01.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">Мария Мушкина</div>
              <p class="item-review__text">Мы Были на день рождения) и я сажу вам, что это был лучший выбор Для
                праздника) это просто супер шоу, супер игра это
                именно те эмоции и те ощущения которые нужны для праздника и расслабления) Ирина просто замечательная
                ведущая и
                замеччательный человек) всем очень понравилось) энергия, драйв все это очень заряжает) все прошло
                супер и все
                единогласно сказали что время пролетело очень быстро и хочется еще...</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/02.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">pricheski_nnov</div>
              <p class="item-review__text">Отмечала день рождения у вас :) Я и ВСЕ гости ОСТАЛИСЬ В ПОЛНЕЙШЕМ
                ВОСТОРГЕ!!! ПОЛУЧИЛИ МАССУ ПОЛОЖИТЕЛЬНЫХ ЭМОЦИЙ,
                насмеялись вдоволь :) ребята вы молодцы - очень крутое место открыли :3</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/01.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">Наша семья</div>
              <p class="item-review__text">В полнейшем восторге от организации ИГРЫ!!! Команда с первого взгляда
                располагает к себе!! Очень ответственно подходят к
                организации выездной игры! Прибыли вовремя, согласились подыграть и появиться “незаметно, т.к. игра
                была сюрпризом! Вся
                игра пролетела незаметно, а длилась программа 2 часа! Все гости были в восторге! Настоящая команда
                ПРОФЕССИОНАЛОВ!
                Спасибо большое за вашу работу! Всем советую!!!</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/01.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">Мария Мушкина</div>
              <p class="item-review__text">Мы Были на день рождения) и я сажу вам, что это был лучший выбор Для
                праздника) это просто супер шоу, супер игра это
                именно те эмоции и те ощущения которые нужны для праздника и расслабления) Ирина просто замечательная
                ведущая и
                замеччательный человек) всем очень понравилось) энергия, драйв все это очень заряжает) все прошло
                супер и все
                единогласно сказали что время пролетело очень быстро и хочется еще...</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/02.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-slider__item item-review">
            <div class="item-review__content">
              <div class="item-review__author">pricheski_nnov</div>
              <p class="item-review__text">Отмечала день рождения у вас :) Я и ВСЕ гости ОСТАЛИСЬ В ПОЛНЕЙШЕМ
                ВОСТОРГЕ!!! ПОЛУЧИЛИ МАССУ ПОЛОЖИТЕЛЬНЫХ ЭМОЦИЙ,
                насмеялись вдоволь :) ребята вы молодцы - очень крутое место открыли :3</p>
            </div>
            <div class="item-review__image">
              <img src="img/reviews/01.jpg" alt="" width="100" height="250" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>