<section class="section-hero" id="about" tabindex="-1">
  <div class="container">
    <div class="section-hero__grid">
      <div class="section-hero__grid-imagefull">
        <img src="./img/hero/01.jpg" srcset="./img/hero/01-2x.jpg 2x" width="1060" height="613" alt="" class="image">
        <div class="actions">
          <h1 class="section-hero__title" data-aos="flip-left" data-aos-delay="250" data-aos-duration="300">Устроим
            шоу-игру</h1>
          <h2 class="section-hero__subtitle" data-aos="flip-right" data-aos-delay="500" data-aos-duration="500">в нашей
            студии или приедем к вам в гости</h2>
          <button class="btn btn-reset " data-graph-path="order" data-aos="fade-down"
            data-aos-anchor-placement="top-bottom" data-aos-delay="800" data-aos-offset="300">принять участие в
            шоу</button>
        </div>
      </div>
      <div class="section-hero__grid-imagethumb">
        <img src="./img/hero/02.jpg" srcset="./img/hero/02-2x.jpg 2x" width="340" height="613" alt="" class="image">
        <div class="actions">
          <h2 class="section-hero__title" data-aos="zoom-in-up" data-aos-delay="1700" data-aos-duration="500">именниник
            играет бесплатно</h2>
          <h3 class="section-hero__subtitle" data-aos="zoom-in-down" data-aos-delay="2400" data-aos-duration="900">
            условия уточняйте у нашего менеджера</h3>
        </div>
      </div>
      <ul class="content__inner" role="list">
        <li class="content__item" data-aos="fade-right" data-aos-delay="850" data-aos-duration="500">
          <a href="#!" class="content__link">
            Что такое<br>
            SHOW TIME?
            <div class="tooltip" role="tooltip">
              Это ШОУ ИГРА по мотивам известных телепередач. Абсолютно новый формат развлечения для взрослых и детей!
              <div class="tooltip__arrow"></div>
            </div>
          </a>
        </li>
        <li class="content__item" data-aos="fade-right" data-aos-delay="650" data-aos-duration="300">
          <a href="#!" class="content__link">
            Хотелось бы оказаться<br>
            на МЕСТЕ ЗВЁЗД?
            <div class="tooltip" role="tooltip">
              Это ШОУ ИГРА по мотивам известных телепередач. Абсолютно новый формат развлечения для взрослых и детей!
              <div class="tooltip__arrow"></div>
            </div>
          </a>
        </li>
        <li class="content__item" data-aos="fade-left" data-aos-delay="750" data-aos-duration="400">
          <a href="#!" class="content__link">
            90 минут<br>
            ДРАЙВОВЫХ<br>
            КОНКУРСОВ
            <div class="tooltip" role="tooltip">
              Это ШОУ ИГРА по мотивам известных телепередач. Абсолютно новый формат развлечения для взрослых и детей!
              <div class="tooltip__arrow"></div>
            </div>
          </a>
        </li>
        <li class="content__item" data-aos="fade-left" data-aos-delay="950" data-aos-duration="600">
          <a href="#!" class="content__link">
            2 команды<br>
            СОСТЯЗАЮТСЯ<br>
            В РАУНДАХ
            <div class="tooltip" role="tooltip">
              Это ШОУ ИГРА по мотивам известных телепередач. Абсолютно новый формат развлечения для взрослых и детей!
              <div class="tooltip__arrow"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <img src="./img/faq.png" width="500" alt="" id="faq">
</section>