<section class="section-studio">
  <div class="container">
    <div class="section-top">
      <h2 class="section__title section-studio__title" data-aos="zoom-in-up" data-aos-delay="250">Выберите
        <span>свою студию</span>
      </h2>
    </div>
    <div class="section-studio__grid">
      <div class="tabs" data-tabs="studio-tab" role="tablist">
        <ul class="tabs__nav list-reset" role="tab">
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">ул. ошарская, 14</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">ул. тимирязева, 9к2</button></li>
        </ul>
        <div class="tabs__content" role="tabpanel">
          <div class="tabs__panel" tab-content="1">
            <div class="section-studio__wrapper">
              <div class="section-studio__text">
                <h3 class="section-studio__text-title">студия на ошарской</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
              </div>
              <div class="section-studio__slider">
                <div class="swiper studio-slider1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/studio/01/01.jpg" width="700" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/02.jpg" width="700" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/03.jpg" width="700" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
                <div class="swiper studio-thumb-slider1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/studio/01/01.jpg" width="220" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/02.jpg" width="220" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/03.jpg" width="220" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__panel" tab-content="2">
            <div class="section-studio__wrapper">
              <div class="section-studio__text">
                <h3 class="section-studio__text-title">студия на тимирязева</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum."</p>
              </div>
              <div class="section-studio__slider">
                <div class="swiper studio-slider2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/studio/01/01.jpg" width="700" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/02.jpg" width="700" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/03.jpg" width="700" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
                <div class="swiper studio-thumb-slider2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/studio/01/01.jpg" width="220" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/02.jpg" width="220" alt="" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/studio/01/03.jpg" width="220" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>