<section class="section-certificates" id="certificates" tabindex="-1">
  <div class="container">
    <div class="section-top">
      <h2 class="section__title section-certificates__title" data-aos="zoom-in-up" data-aos-delay="250">подарите
        <span>эмоции близким</span>
      </h2>
      <p class="section__subtitle" data-aos="zoom-in-up" data-aos-delay="550">Сертификат на нашу игру прекрасный подарок
        на День рождения,
        свадьбу, корпоратив или
        Десткий праздник</p>
    </div>
    <div class="section-certificates__grid">
      <ul class="section-certificates__list" role="list">
        <li class="section-certificates__item" data-aos="fade-right" data-aos-delay="550" data-aos-offset="250">
          <img src="img/certificates/01.jpg" alt="Сертификат" width="340" height="227" loading="lazy">
        </li>
        <li class="section-certificates__item" data-aos="fade-right" data-aos-delay="250" data-aos-offset="250">
          <img src="img/certificates/02.jpg" alt="Сертификат" width="340" height="227" loading="lazy">
        </li>
        <li class="section-certificates__item" data-aos="fade-left" data-aos-delay="350" data-aos-offset="250">
          <img src="img/certificates/03.jpg" alt="Сертификат" width="340" height="227" loading="lazy">
        </li>
        <li class="section-certificates__item" data-aos="fade-left" data-aos-delay="450" data-aos-offset="250">
          <img src="img/certificates/04.jpg" alt="Сертификат" width="340" height="227" loading="lazy">
        </li>
      </ul>
    </div>
  </div>
</section>