<section class="section-subscribe">
  <div class="background-full">
    <div class="ramka"></div>
  </div>
  <div class="container">
    <div class="section-subscribe__grid">
      <div class="section-subscribe__content">
        <div class="text-block">
          <h2 class="section-subscribe__title">Профессиональное проектирование
            и строительство начинается с профессиональной геодезии</h2>

          <p>Создание красивого участка практически равносильно строительству дома. Это кропотливая работа целой
            проектной команды.
            Она включает аудит участка, план работы, визуализацию проекта, смету и систему контроля на всех этапах.</p>
        </div>

        <button class="btn btn-reset " data-graph-path="phone">
          оставить заявку
        </button>
      </div>
      <div class="section-subscribe__img">
        <div class="swiper subscribe-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/01.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/02.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/03.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/04.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/05.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/06.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="subscribe-slider__item">
                <img src="img/subscribe/07.jpg" width="700" height="400" alt="" loading="lazy">
              </div>
            </div>
          </div>
          <div thumbsSlider="" class="swiper thimbs-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/subscribe/01.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/02.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/03.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/04.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/05.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/06.jpg" width="80" height="40" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="img/subscribe/07.jpg" width="80" height="40" loading="lazy">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-full-bottom">
    <div class="ramka"></div>
  </div>
</section>